<div class="container">
    <h1>Hola James estas aprendiendo Angular</h1>
    <h2>{{Welcome}}</h2>
    <ul>
        <li *ngFor="let task of listatareas() ">{{task}}</li>
    </ul>
    <hr />
    <h2>{{'Hola'.repeat(4)}}</h2>
    <p> La suma de 3 + 3 es {{3+3}}</p>
    <p>Hola soy {{(name())}}</p>
    <p>Mi edad es: {{edad}}</p>
    <hr />
    <img [src]="persona.avatar" alt="">
    <input type="number" [value]="persona.edad">
    <button [disabled]="disabled">Click</button>
    <p>persona: {{persona.name}}</p>

    <hr />
    <button (click)="clickHandler()">click</button>
    <hr />
    <button (dblclick)="clickHandler()">doble click</button>
    <hr />
    <p>(change)</p>
    <input type="number" [value]="persona.edad" (change)="changeHadler($event)">
    <p>(keydown)</p>
    <input type="number" [value]="persona.name" (keydown)="keydownHandler($event)">
    <p>signals</p>
    <hr/>
    <input type="number" [value]="name()" (keydown)="keydownHandler($event)">

    //el arreglo  vuelto señal  se  debe dejar  de  esta manera
    <p>Total {{listatareas().length}}</p>
   <ul>
        <li *ngFor="let task of listatareas(); index as i">{{i}} {{task}}</li>
    </ul> 
j


    



</div>